{% if site.style == 'dark' %}
  {% assign icon_color = "#ffffff" %}
{% else %}
  {% assign icon_color = "#24292e" %}
{% endif %}

{% assign content = page.content %}

{% assign posts_total = site.posts | size %}

{% assign user = site.github.owner %}

{% if page.path contains '_posts' %}
  {% assign page_title = page.title %}
  {% assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% else %}
  {% assign page_title = user.name %}
  {% assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% endif %}
