<nav>
    <ul>
        <!--
        <li><a href="/" {% if site.style == 'dark' %}class="text-white"{% endif %}>Home</a></li>
        <li><a href="/about" {% if site.style == 'dark' %}class="text-white"{% endif %} >About</a></li>
        <li><a href="/blog" {% if site.style == 'dark' %}class="text-white"{% endif %} >Blog</a></li>
        <li><a href="/cv" {% if site.style == 'dark' %}class="text-white"{% endif %} >CV</a></li>
        -->
        <li><a href="#interests" {% if site.style == 'dark' %}class="text-white"{% endif %} >Interests</a></li>
        <li><a href="#projects" {% if site.style == 'dark' %}class="text-white"{% endif %} >Projects</a></li>
    </ul>
</nav>